@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /**Roboto */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap'); /**Baloo */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap'); /**Rammetto One */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); /**Poppins*/

:root{
    --font-family-layer: "Rammetto One", cursive;
    --font-family-title-page: "Baloo 2", cursive;
    --font-family-title-p: "Poppins", sans-serief;
    --font-family-text: "Roboto", sans-serief;
    --bg-gradient: linear-gradient(117.39deg, #062A3F 1.97%, rgba(0, 255, 255, 0.3) 127.84%);
    ---text-color: #eeeeee;
    --box-shadow-layer: inset -7.8px -7.8px 3.46667px rgba(0, 0, 0, 0.05), inset 7.8px 7.8px 3.46667px rgba(0, 0, 0, 0.05);
    --bg-button-layer: linear-gradient(0deg, rgba(166, 225, 250, 0.7), rgba(166, 225, 250, 0.7)), #1E1E1E;
    --shadow-layer-text: 1px 1px 0px rgba(0,0,0,0.35), 0px -1px 0px rgba(0,0,0,0.25);/**Non funziona l'inner shadow*/
    --color-button-link: #428BCA;
    --bg-rectangle-img-layer: linear-gradient(136.74deg, #0A2472 0%, rgba(14, 107, 168, 0.3) 100%);
}
*{
    padding: 0;
    margin: 0;
}

body{
    background: var(--bg-gradient) no-repeat center;
    color: var(---text-color);
    min-height: 100vh;
}

#title{
    text-align: center;
    font-family: var(--font-family-title-page);
    font-size: calc(25px + 2vw);
    margin: 10px;
}

.title-p{
    font-family: var(--font-family-title-p);
    font-size: calc(12px + 1vw);
}
p{
    font-family: var(--font-family-text);
    font-size: calc(10px + 0.8vw);
    margin: 15px 0;
    font-weight: 400;
}

section{
    margin: 0 20px;
}
#Che-cosè .img{
    width: 100%;
    display: flex;
    justify-content: center;
}
#Che-cosè img{
    width: 50vw;
    margin: 15px 0;
}
#come .img{
    width: 100%;
    display: flex;
    justify-content: center;
}
#come img{
    width: 50vw;
    margin: 15px 0;
}
#layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#layer .title-p{
    margin: 30px 0 20px;
    font-size: calc(15px + 1vw);
}
.layer{
    width: 40vw;
    height: 10.45vw;
    background: var(--bg-button-layer);
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex-container .title-layer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container .title-layer{
    font-family: var(--font-family-layer);
    font-size: calc(10px + 1vw);
    text-align: center;
}
.flex-container .container{
    width: 9vw;
    height: 9vw;
    background: var(--bg-rectangle-img-layer);
    border-radius: 1.2vw;
    box-shadow: var(--box-shadow-layer);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 1vw;
}
.flex-container .container img{
    width: 9vw;
    height: 9vw;
    border-radius: 1.2vw;
    object-fit: cover;
}
img[src="./img/application-illustration.svg"]{
    object-fit: contain !important;
}
img[src="./img/wi-fi.svg"]{
   object-fit: contain !important;
}
ol{
    margin: 0 20px;
}
#differences ol li::marker,
#tcp ol li::marker{
    font-weight: 900;
    color: #00297a; 
}
ol li{
    font-family: var(--font-family-text);
    font-size: calc(5px + 1.1vw);
}
#tcp .img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tcp .img img{
    width: 50%;
}
#differences{
    margin-bottom: 50px;
}
/**UL*/
ul li {
    list-style: none;
    font-family: var(--font-family-text);
    font-size: calc(5px + 1.1vw);
}

ul li:before {
    content:"·";
    font-size:120px;
    vertical-align:middle;
    line-height:20px;
}
/**Layer Title*/
#layer-title{
    display: flex;
    justify-content: center;
}
#layer-title .layer{
    width: 60vw;
    height: 19vh;
}
#layer-title .flex-container{
    width: 100%;
    height: 100%;
}
#layer-title .flex-container .title-layer{
    font-size: calc(0.8em + 2vw);
}
#layer-title .flex-container .container{
    width: 20%;
    height: 90%;
}
#layer-title .flex-container .container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a{
    color: var(--color-button-link);
    margin: 0 15px;
}
#action{
    margin-bottom: 30px;
}
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
}
/**Application Layer*/
#example .img{
    display: flex;
    justify-content: center;
}
#example .img img{
    width: 70%;
}
/**Presentation layer*/
.double-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/**Session Layer*/
ol li::marker{
    color: #eeeeee;
    font-weight: 900;
}
#end .img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/**Transport Layer*/
/* #protocol {
    margin: ;
} */
/**Netwrok Layer*/
#action-network .img{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#action-network .img img{
    width: 50vw;
}
/**Data Link Layer*/
#task .img{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#task .img img{
    width: 40vw;
}
#protocol{
    margin: 30px 15px 20px;
}
/**Physical Layer*/
#title-section{
    margin: 20px;
}
#charcter ul li::before{
   content: " ";
}
#charcter .medium{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}
#charcter .medium img{
    border-radius: 5%;
    width: 30vw;
}
#charcter .img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#charcter .img img{
    width: 35vw;
}
#segnali li{
   margin-top: 10vh;
}
#segnali .img{
    margin-bottom: 50px
}
img[src="../img/sistema-comunicazione.png"]{
    margin: 30px 0;
}
/**Animation*/
#title{
    transition: ease-in-out;
    animation: slide_top 0.5s linear forwards;
}
.layer{
    transition: ease-in;
    animation: slide_top 0.5s linear forwards;
}
.container{
    transition: ease-in;
    animation: slide_top 1s linear forwards;
}
h3{
    transition: ease-in-out;
    animation: slide_left 0.5s linear forwards;
    opacity: 0;
    animation-delay: 1s;
}
p{
    transition: ease-in-out;
    animation: slide_left 0.5s linear forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
img{
    transition: ease-in-out;
    animation: slide_right 0.5s linear forwards;
    opacity: 0;
    animation-delay: 1.55s;
}
ul li,
ol,li{
    transition: ease-in-out;
    animation: slide_left 0.5s linear forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
h2 a{
    transition: ease-in-out;
    animation: slide_left 0.5s linear forwards;
    opacity: 0;
    animation-delay: 1s;
}
.button{
    transition: ease-in-out;
    animation: slide_bottom 2s linear forwards;
    opacity: 0;
    animation-delay: 1.5s;
}
@keyframes slide_top{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide_bottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide_left{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
@keyframes slide_right{
    0%{
        transform: translatex(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
/**Mobile*/
@media screen and (max-width: 600px) {
    #layer .layer{
        width: 70vw;
        height: 18vw;
    }
    #layer  .container{
        width: 20vw;
        height: 15vw;
        margin: 2vw;
    }
    #layer  .container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .flex-container .title-layer{
        font-size: calc(12px + 1vw);
    }
    .img img{
        width: 80vw !important;
    }
    ol li{
        font-size: calc(10px + 0.8vw);
    }
    ul li{
        font-size: calc(10px + 0.8vw);
    }
    .title-p{
        font-size: calc(10px + 1.6vw);
    }
    .title-section{
        font-size: calc(10px + 2vw);
    }
    li h3{
        font-size: calc(10px + 1.6vw);
    }
    /**Layer Title*/
    #layer-title .layer{
        width: 80vw;
        height: 25vw;
    }
    #layer-title  .container{
        width: 40% !important;
        height: 90% !important;
        margin: 2vw;
    }
    #layer-title  .container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    h2{
        font-size: calc(15px + 0.8vw);
    }
    ul li:before {
        font-size: calc(15px + 15vw);
    }
    /**Presentation Layer*/
    .double-img img{
        width: 35vw !important;
    }
    /**Physical*/
    #charcter .text{
        float: left;
    }
    #charcter .medium .img img{
        border-radius: 5%;
        width: 40vw !important;
    }
}